.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cart-con {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    padding: 30px 20px;
    text-align: center;
    gap: 20px
}

.cart-head {
    font-size: 20px;

}

.cart h1 {
    color: #165315;
}

.cart-para {
    font-size: 18px;
    color: #165315;

}

.continue-button {
    background-color: #165315;
    color: white;
    padding: 10px 20px;
    border: 0;
}

@media screen and (max-width:768px) {
    .cart {
        padding: 40px;
        height: 70vh;
    }

    .cart-con {
        padding: 20px 10px;
        gap: 15px
    }

    .cart-head {
        font-size: 17px;
    }

    .cart-para {
        font-size: 15px;
    }.congo{
        font-size: 25px;
    }
}